<div class="ui secondary pointing menu nav">
  <div class="logo">Roomy</div>
  <div class="right menu">
    <a ng-repeat="navItem in ctrl.navigationService.getNavigation()"
       ng-href="{{ navItem.url }}"
       ng-class="{ active: ctrl.isItemActive(navItem.url) }"
       class="item">
      {{ navItem.title }}
    </a>
    <a ng-class="{ active: ctrl.isItemActive('/login') }" class="item" href="/login" ng-hide="ctrl.loginService.isLoggedIn()">
      Login
    </a>
    <a class="item" ng-click="ctrl.loginService.logout()" ng-show="ctrl.loginService.isLoggedIn()">
      Logout
    </a>
  </div>
</div>
