<div class="ui secondary pointing menu nav">
  <div class="logo">Roomy</div>
  <div class="right menu">
    <a ng-repeat="navItem in ctrl.navigationService.getNavigation()"
       ng-href="{{ navItem.url }}"
       ng-class="{ active: ctrl.isItemActive(navItem.url) }"
       class="item">
      {{ navItem.title }}
    </a>
    <span class="item">
      <img class="ui avatar image" ng-src="{{ ctrl.loginService.getLoggedInUser().photoURL }}" ng-show="ctrl.loginService.isLoggedIn()" alt="">
      <span ng-show="ctrl.loginService.isLoggedIn()">{{ ctrl.loginService.getFirstName() }}</span>
    </span>
    <button class="tiny ui blue button" ng-click="ctrl.loginService.login(ctrl.refresh)" ng-hide="ctrl.loginService.isLoggedIn()">Login</button>
    <button class="tiny ui blue button" ng-click="ctrl.loginService.logout()" ng-show="ctrl.loginService.isLoggedIn()">Logout</button>
  </div>
</div>
